* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
    transition: ease all .3s;
}

.map-container {
    height: 1200px;
    width: 1200px;
    
    padding: 20px;
    border: 2px solid black;
    
}